.ChannelScheduledPostsRhs {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        padding: 8px 0 16px;
    }
}
